@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 0;
}

@media print {
  footer {
    page-break-after: always;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

img {
  height: 100px;
}

th,
td {
  border: 1px solid black;
}
